<!DOCTYPE html>
<html>
	{include file="common/header"/}
	<body>
		<div class="main-layout" id='main-layout'>
			<!--侧边栏-->
			{include file="common/meau"/}
			<!--右侧内容-->
			<div class="main-layout-container">
				<!--头部-->
				<div class="main-layout-header">
					<div class="menu-btn" id="hideBtn">
						<a href="javascript:;">
							<span class="iconfont">&#xe60e;</span>
						</a>
					</div>
					<ul class="layui-nav" lay-filter="rightNav">
					  <li class="layui-nav-item"><a href="javascript:;" data-url="email.html" data-id='4' data-text="邮件系统"><i class="iconfont">&#xe603;</i></a></li>
					  <li class="layui-nav-item">
					    <a href="javascript:;" data-url="admin-info.html" data-id='5' data-text="个人信息">超级管理员</a>
					  </li>
					  <li class="layui-nav-item"><a id="loginout" href="javascript:;">退出</a></li>
					</ul>
				</div>
				<!--主体内容-->
				<div class="main-layout-body">
					<!--tab 切换-->
					<div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
					  <ul class="layui-tab-title">
					    <li class="layui-this welcome">后台主页</li>
					  </ul>
					  <div class="layui-tab-content">
					    <div class="layui-tab-item layui-show" style="background: #f5f5f5;">
					    	<!--1-->
					    	<iframe src="welcome.html" width="100%" height="100%" name="iframe" scrolling="auto" class="iframe" framborder="0"></iframe>
					    	<!--1end-->
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<!--遮罩-->
			<div class="main-mask">
				
			</div>
		</div>
		<script type="text/javascript">
			var scope={
				link:"{:url('index/welcome')}"
			}
			$("#loginout").click(function () { 
				layer.open({
				    type: 1
				    ,title: false 
				    ,closeBtn: false
				    ,area: '300px;'
				    ,shade: 0.8
				    ,id: 'LAY_layuipro' 
				    ,resize: false
				    ,btn: ['退出', '取消']
				    ,btnAlign: 'c'
				    ,moveType: 1 
				    ,content: '<div style="padding: 30px; line-height: 22px; background-color: #393D49; text-align: center;color: #fff; font-weight: 300;">确定要退出吗？</div>'
				    ,btn1: function(layero){
				    	$.ajax({
						    url: "{:url('login/loginout')}",
						    type: 'post',
						    data: {},
						    dataType: 'json',
						    success: function (res) {
								window.location.href = "{:url('login/index')}";
						    }
						})	
				    }
				    ,btn2: function(layero){
				    }
				});
			})
		</script>
		
		{include file="common/footer"/}
	</body>
</html>
