<div class="main-layout-side">
	<div class="m-logo">
		小聪聪的管理系统
	</div>
	<ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
	  <li class="layui-nav-item layui-nav-itemed">
	    <a href="javascript:;"><i class="iconfont">&#xe607;</i>菜单管理</a>
	    <dl class="layui-nav-child">
	      <dd><a href="javascript:;" data-url="{:url('admin/index/welcome')}" data-id='1' data-text="后台菜单"><span class="l-line"></span>后台菜单</a></dd>
	      <dd><a href="javascript:;" data-url="{:url('admin/index/welcome')}" data-id='2' data-text="前台菜单"><span class="l-line"></span>前台菜单</a></dd>
	    </dl>
	  </li>
	  <li class="layui-nav-item">
	    <a href="javascript:;"><i class="iconfont">&#xe608;</i>内容管理</a>
	    <dl class="layui-nav-child">
	      <dd><a href="javascript:;" data-url="article-list.html" data-id='3' data-text="文章管理"><span class="l-line"></span>文章管理</a></dd>
	      <dd><a href="javascript:;" data-url="danye-list.html" data-id='9' data-text="单页管理"><span class="l-line"></span>单页管理</a></dd>
	    </dl>
	  </li>
	  <li class="layui-nav-item">
	    <a href="javascript:;"><i class="iconfont">&#xe604;</i>推荐位管理</a>
	  </li>
	   <li class="layui-nav-item">
	    <a href="javascript:;"><i class="iconfont">&#xe60c;</i>友情链接</a>
	  </li>
	   <li class="layui-nav-item">
	    <a href="javascript:;"><i class="iconfont">&#xe60a;</i>RBAC</a>
	  </li>
	  <li class="layui-nav-item">
	    <a href="javascript:;" data-url="email.html" data-id='4' data-text="邮件系统"><i class="iconfont">&#xe603;</i>邮件系统</a>
	  </li>
	  <li class="layui-nav-item">
	    <a href="javascript:;"><i class="iconfont">&#xe60d;</i>生成静态</a>
	  </li>
	  <li class="layui-nav-item">
	    <a href="javascript:;"><i class="iconfont">&#xe600;</i>备份管理</a>
	  </li>
	  <li class="layui-nav-item">
	    <a href="javascript:;" data-url="admin-info.html" data-id='5' data-text="个人信息"><i class="iconfont">&#xe606;</i>个人信息</a>
	  </li>
	  <li class="layui-nav-item">
	  	<a href="javascript:;" data-url="system.html" data-id='6' data-text="系统设置"><i class="iconfont">&#xe60b;</i>系统设置</a>
	  </li>
	</ul>
</div>