<!DOCTYPE html>
<html>
	{include file="common/header"/}
	<script src="/admin/vendors/ueditor/ueditor.config.js"></script>
    <script src="/admin/vendors/ueditor/editor_api.js"></script>
	<body>
	<form class="layui-form column-content-detail">
					<div class="layui-tab">
						<ul class="layui-tab-title">
							<li class="layui-this">常规添加</li>
							<li>常用插件</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<div class="layui-form-item">
									<label class="layui-form-label">标题：</label>
									<div class="layui-input-block">
										<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">分类：</label>
									<div class="layui-input-block">
										<select name="type" lay-verify="required" style="z-index: 999999;">
											<option value="">请选择分类</option>
												{foreach $types_list as $k}
												<option value="{$k.id}">{$k.name}</option>
												{/foreach}
										</select>
									</div>
								</div>
								
								<div class="layui-form-item">
									<label class="layui-form-label">是否启用：</label>
									<div class="layui-input-block">
										<input type="checkbox" name="status" lay-skin="switch">
									</div>
								</div>

							</div>
							<div class="layui-tab-item">
								<div class="layui-form-item layui-form-text">
									<label class="layui-form-label">富文本内容：</label>
									<div class="layui-input-block">
										<script id="editor" name="content" type="text/plain" style="width:500px;height:200px;"></script>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="padding-left: 10px;">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
	{include file="common/footer"/}
	<script>
		$(function() {
            layui.use('form', function() {
            	var form = layui.form();
            	// var $ = layui.jquery;
            	// var iframeObj = $(window.frameElement).attr('name');

              
              	//监听提交
              	form.render();
              	form.on('submit(formDemo)', function(data){
              		$.ajax({
						url: "{:url('admin/demo/doInsert')}",
						data: {id:1},
						success: function (data) {
							//layer.msg("提交成功")
						}
					});
              	});
            });
        })
		
	</script>
	<script type="text/javascript">
		// 富文本编辑器部分
	    var ue = UE.getEditor('editor');

	    // 上传


	</script>
	</body>
</html>